
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 8rem;
    border-bottom: 3px solid #cdcccc;
}

.title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 60px;
    text-transform: uppercase;
}

.message{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 16px;
    max-width: 600px;
    line-height: normal;
}

.stack{
   max-height: 300px;
   max-width: 300px;
}

@media all and (min-width: 430px){
    .stack{
        max-height: 500px;
        max-width: 500px;
    }
}

