
.form p{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label{
text-transform: uppercase;
font-weight: bold;
margin-top: 10px;
}

.input{
    margin-bottom: 5px;
}

.contact{
    scroll-margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    padding-bottom: 40px;
}
.contact-text{
    text-align: center;
    max-width: 600px;
    padding-bottom: 30px;
}
.button-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact .button{
    width: 150px;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    background-color: white;
    box-shadow: 3px 4px 4px rgba(197, 191, 191, 0.785);
    margin: 30px 0 60px 0;
    border: solid 2px var(--grey-background);
 }

 .contact .button:hover{
    transform: scale(1.1);
    background-color: var(--orange);
    cursor: pointer;
    color: white;
    
}


 .button 
 .fa-envelope{
    padding-right: 10px;
 }

 
.button .fa-envelope:hover{
    color: white;
}