.portfolio{
    scroll-margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.video:hover{
    transform: scale(1.1);
}

.portfolio .title{
    padding-bottom: 30px;
}

.video-wrapper{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    margin: 0 60px 0 50px;
}

.icon{
    position: relative;
}

.icon .fa-brands{
    color: rgb(230, 109, 18);
    font-size: 40px;
    background-color: white;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 3px 4px 4px rgba(197, 191, 191, 0.785);
}

.icon .first{   
    position: absolute;
    bottom: 190px;
    right: 10px;
}

.icon .second{   
    position: absolute;
    bottom: 190px;
    right: 60px;
}

.icon .third{   
    position: absolute;
    bottom: 190px;
    right: 120px;
}

.video-title{
    text-align: center;
    font-size: 20px;
}