:root{
    --grey-background: #cdcccc;
    --orange: rgb(230, 109, 18);
}

body{
    font-family: 'Roboto', sans-serif;
    
}

ul{
    list-style: none;  
}

a{
    text-decoration: none;
    cursor: pointer;
}